<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXgYGAo1XitMJFfgYSSGZpYn0Bpow2Z4w</string>
	<key>GCM_SENDER_ID</key>
	<string>90305168161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartCourier</string>
	<key>PROJECT_ID</key>
	<string>smart-courier-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-courier-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90305168161:ios:ba400b67ee53f77bf0b460</string>
</dict>
</plist>